<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boot.dao.NewsMonitorDAO">

  <select id="getLastNewsCreatedAt" resultType="map">
    SELECT MAX(CREATED_AT) AS LAST_CREATED_AT
    FROM STOCK_NEWS
  </select>

</mapper>
